html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}
a {
   text-decoration: none;
 }

a:hover {
  background-color: #666;
}

.btn {
  font-size: 1.125rem;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-1 {
  color: #fff;
  font-weight: normal;
  max-width: 20em;
  padding: .4em .75em .3em;
  background-color: #333;
  border-width: 3px;
  border-radius: 8px;
}

.btn-subtle {
  color: #fff;
  font-weight: normal;
  max-width: 20em;
  padding: .4em .75em .3em;
  background-color: #ccc;
  border-width: 3px;
  border-radius: 8px;
}

.btn-ghost {
  color: #000;
  font-weight: normal;
  max-width: 20em;
  padding: .4em .75em .3em;
  background-color: #fff;
  border-color: #000;
  border-width: 3px;
  border-radius: 8px;
}

.btn-warning {
  color: #fff;
  font-weight: normal;
  max-width: 20em;
  padding: .4em .75em .3em;
  background-color: #f33;
  border-width: 3px;
  border-radius: 8px;
}
